---
import DashboardShell from "@components/layout/DashboardShell.astro";
import ProjectDetailView from "@components/dashboard/ProjectDetailView";

const { id } = Astro.params;
const projectId = Number(id);
---

<DashboardShell title="Proyecto - Appix PM" breadcrumb="Proyectos">
  <div class="mb-2">
    <a
      href="/projects"
      class="text-xs text-primary hover:underline"
    >
      &larr; Volver a Proyectos
    </a>
  </div>
  <ProjectDetailView client:load projectId={projectId} />
</DashboardShell>
